html * {
	margin: 0px; 
	padding: 0px;
	font-family: "Calibri";
}

body {
	background-image: url("background.png");
}

#barmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#barmenu li {
    float: left;
}

#barmenu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-style: solid;
	border: none;
}

/* Change the link color to #111 (black) on hover */

#barmenu li a:hover:not(.active) {
	border-style: solid;
	border: none;
    border-bottom: solid 3px rgb(116, 27, 71);
}

#barmenu .active {
    background-color: rgb(116, 27, 71);
    color: white;
    border-bottom: solid 3px rgb(116, 27, 71);
}
#barmenu .active:hover {
    background-color: rgb(116, 27, 71);
}

#intro {
	font-size: 70px;
	color: rgb(116, 27, 71);
	text-align: center;
	font-weight: 100;
}

#blurb {
	font-size: 35px;
	color: black;
	text-align: center;
	font-weight: 100;
}

#profile {
	display: block;
	border-radius: 50%;
	height: 320px;
	width: 320px;
	margin-left: auto;
    margin-right: auto;
}

#smedia img {
	width: 36px;
	height: 36px;
}

#smedia{
	margin: 0 auto;
	width: 160px;
}