.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.923500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.958000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.918500;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-ms-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);-webkit-transform:matrix(0.242536,0.000000,-0.060634,0.242536,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(46,54,64),0 0.015em rgb(46,54,64),0.015em 0 rgb(46,54,64),0 -0.015em  rgb(46,54,64);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(46,54,64);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:871.730649px;}
._5{width:884.154783px;}
._4{width:900.256713px;}
._3{width:967.209023px;}
._2{width:1067.983822px;}
._7{width:1185.152271px;}
._0{width:1413.897320px;}
._6{width:1522.062019px;}
._8{width:1718.479652px;}
._9{width:1807.278947px;}
.fc0{color:rgb(46,54,64);}
.fs3{font-size:24.000000px;}
.fs1{font-size:36.000000px;}
.fs6{font-size:37.107951px;}
.fs4{font-size:39.990000px;}
.fs5{font-size:41.220748px;}
.fs2{font-size:55.980000px;}
.fs0{font-size:79.980000px;}
.y0{bottom:0.000000px;}
.y5{bottom:1.500000px;}
.y3{bottom:2.250000px;}
.y13{bottom:3.750000px;}
.y10{bottom:4.500000px;}
.ya{bottom:13.500000px;}
.y12{bottom:14.250000px;}
.yf{bottom:15.750000px;}
.y44{bottom:27.750000px;}
.y43{bottom:39.000000px;}
.y42{bottom:51.000000px;}
.y41{bottom:63.000000px;}
.y40{bottom:74.250000px;}
.y3f{bottom:85.500000px;}
.y3e{bottom:96.750000px;}
.y3d{bottom:108.750000px;}
.y3c{bottom:120.000000px;}
.y3b{bottom:130.500000px;}
.y3a{bottom:146.250000px;}
.y39{bottom:157.500000px;}
.y38{bottom:168.750000px;}
.y37{bottom:180.750000px;}
.y36{bottom:192.750000px;}
.y35{bottom:204.000000px;}
.y34{bottom:215.250000px;}
.y33{bottom:226.500000px;}
.y32{bottom:238.500000px;}
.y31{bottom:249.750000px;}
.y30{bottom:260.250000px;}
.y2f{bottom:276.000000px;}
.y2e{bottom:287.250000px;}
.y2d{bottom:298.500000px;}
.y2c{bottom:309.750000px;}
.y2b{bottom:321.750000px;}
.y2a{bottom:334.500000px;}
.y29{bottom:346.500000px;}
.y28{bottom:357.750000px;}
.y27{bottom:369.000000px;}
.y26{bottom:381.000000px;}
.y25{bottom:392.250000px;}
.y24{bottom:402.750000px;}
.y23{bottom:418.500000px;}
.y22{bottom:429.750000px;}
.y21{bottom:441.000000px;}
.y20{bottom:452.250000px;}
.y1f{bottom:464.250000px;}
.y1e{bottom:477.000000px;}
.y1d{bottom:489.000000px;}
.y1c{bottom:500.250000px;}
.y1b{bottom:511.500000px;}
.y1a{bottom:523.500000px;}
.y19{bottom:535.500000px;}
.y18{bottom:547.500000px;}
.y17{bottom:559.500000px;}
.y16{bottom:570.750000px;}
.y15{bottom:581.250000px;}
.y14{bottom:597.000000px;}
.ye{bottom:606.000000px;}
.y11{bottom:607.500000px;}
.yd{bottom:634.500000px;}
.yc{bottom:645.000000px;}
.yb{bottom:660.750000px;}
.y9{bottom:669.750000px;}
.y8{bottom:695.250000px;}
.y7{bottom:706.500000px;}
.y6{bottom:717.000000px;}
.y2{bottom:732.000000px;}
.y4{bottom:736.500000px;}
.y1{bottom:758.250000px;}
.h4{height:10.500000px;}
.h6{height:17.832000px;}
.h2{height:18.750000px;}
.h8{height:22.500000px;}
.hd{height:24.732594px;}
.ha{height:25.500000px;}
.h9{height:27.000000px;}
.hc{height:27.473790px;}
.h3{height:27.918000px;}
.h7{height:29.712570px;}
.hb{height:31.012245px;}
.h5{height:41.593140px;}
.h1{height:59.425140px;}
.h0{height:792.000000px;}
.w3{width:10.500000px;}
.w8{width:11.250000px;}
.w5{width:20.250000px;}
.w1{width:21.750000px;}
.w4{width:50.250000px;}
.w2{width:55.500000px;}
.w9{width:69.750000px;}
.w7{width:102.750000px;}
.w6{width:115.500000px;}
.wa{width:291.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.xc{left:2.390625px;}
.x5{left:3.890625px;}
.x7{left:5.390625px;}
.x13{left:14.390625px;}
.x3{left:19.640625px;}
.x16{left:27.140625px;}
.x2{left:36.000000px;}
.x4{left:57.750000px;}
.x6{left:113.250000px;}
.x8{left:143.250000px;}
.x9{left:193.500000px;}
.xa{left:204.000000px;}
.x17{left:205.799835px;}
.xb{left:224.250000px;}
.x1{left:237.890625px;}
.x15{left:305.250000px;}
.x18{left:338.398770px;}
.xd{left:339.750000px;}
.xe{left:350.250000px;}
.xf{left:370.500000px;}
.x10{left:473.250000px;}
.x11{left:484.500000px;}
.x12{left:504.750000px;}
.x14{left:597.585938px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:1162.307532pt;}
._5{width:1178.873044pt;}
._4{width:1200.342284pt;}
._3{width:1289.612031pt;}
._2{width:1423.978430pt;}
._7{width:1580.203028pt;}
._0{width:1885.196426pt;}
._6{width:2029.416025pt;}
._8{width:2291.306203pt;}
._9{width:2409.705262pt;}
.fs3{font-size:32.000000pt;}
.fs1{font-size:48.000000pt;}
.fs6{font-size:49.477268pt;}
.fs4{font-size:53.320000pt;}
.fs5{font-size:54.960998pt;}
.fs2{font-size:74.640000pt;}
.fs0{font-size:106.640000pt;}
.y0{bottom:0.000000pt;}
.y5{bottom:2.000000pt;}
.y3{bottom:3.000000pt;}
.y13{bottom:5.000000pt;}
.y10{bottom:6.000000pt;}
.ya{bottom:18.000000pt;}
.y12{bottom:19.000000pt;}
.yf{bottom:21.000000pt;}
.y44{bottom:37.000000pt;}
.y43{bottom:52.000000pt;}
.y42{bottom:68.000000pt;}
.y41{bottom:84.000000pt;}
.y40{bottom:99.000000pt;}
.y3f{bottom:114.000000pt;}
.y3e{bottom:129.000000pt;}
.y3d{bottom:145.000000pt;}
.y3c{bottom:160.000000pt;}
.y3b{bottom:174.000000pt;}
.y3a{bottom:195.000000pt;}
.y39{bottom:210.000000pt;}
.y38{bottom:225.000000pt;}
.y37{bottom:241.000000pt;}
.y36{bottom:257.000000pt;}
.y35{bottom:272.000000pt;}
.y34{bottom:287.000000pt;}
.y33{bottom:302.000000pt;}
.y32{bottom:318.000000pt;}
.y31{bottom:333.000000pt;}
.y30{bottom:347.000000pt;}
.y2f{bottom:368.000000pt;}
.y2e{bottom:383.000000pt;}
.y2d{bottom:398.000000pt;}
.y2c{bottom:413.000000pt;}
.y2b{bottom:429.000000pt;}
.y2a{bottom:446.000000pt;}
.y29{bottom:462.000000pt;}
.y28{bottom:477.000000pt;}
.y27{bottom:492.000000pt;}
.y26{bottom:508.000000pt;}
.y25{bottom:523.000000pt;}
.y24{bottom:537.000000pt;}
.y23{bottom:558.000000pt;}
.y22{bottom:573.000000pt;}
.y21{bottom:588.000000pt;}
.y20{bottom:603.000000pt;}
.y1f{bottom:619.000000pt;}
.y1e{bottom:636.000000pt;}
.y1d{bottom:652.000000pt;}
.y1c{bottom:667.000000pt;}
.y1b{bottom:682.000000pt;}
.y1a{bottom:698.000000pt;}
.y19{bottom:714.000000pt;}
.y18{bottom:730.000000pt;}
.y17{bottom:746.000000pt;}
.y16{bottom:761.000000pt;}
.y15{bottom:775.000000pt;}
.y14{bottom:796.000000pt;}
.ye{bottom:808.000000pt;}
.y11{bottom:810.000000pt;}
.yd{bottom:846.000000pt;}
.yc{bottom:860.000000pt;}
.yb{bottom:881.000000pt;}
.y9{bottom:893.000000pt;}
.y8{bottom:927.000000pt;}
.y7{bottom:942.000000pt;}
.y6{bottom:956.000000pt;}
.y2{bottom:976.000000pt;}
.y4{bottom:982.000000pt;}
.y1{bottom:1011.000000pt;}
.h4{height:14.000000pt;}
.h6{height:23.776000pt;}
.h2{height:25.000000pt;}
.h8{height:30.000000pt;}
.hd{height:32.976792pt;}
.ha{height:34.000000pt;}
.h9{height:36.000000pt;}
.hc{height:36.631720pt;}
.h3{height:37.224000pt;}
.h7{height:39.616760pt;}
.hb{height:41.349660pt;}
.h5{height:55.457520pt;}
.h1{height:79.233520pt;}
.h0{height:1056.000000pt;}
.w3{width:14.000000pt;}
.w8{width:15.000000pt;}
.w5{width:27.000000pt;}
.w1{width:29.000000pt;}
.w4{width:67.000000pt;}
.w2{width:74.000000pt;}
.w9{width:93.000000pt;}
.w7{width:137.000000pt;}
.w6{width:154.000000pt;}
.wa{width:388.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.xc{left:3.187500pt;}
.x5{left:5.187500pt;}
.x7{left:7.187500pt;}
.x13{left:19.187500pt;}
.x3{left:26.187500pt;}
.x16{left:36.187500pt;}
.x2{left:48.000000pt;}
.x4{left:77.000000pt;}
.x6{left:151.000000pt;}
.x8{left:191.000000pt;}
.x9{left:258.000000pt;}
.xa{left:272.000000pt;}
.x17{left:274.399780pt;}
.xb{left:299.000000pt;}
.x1{left:317.187500pt;}
.x15{left:407.000000pt;}
.x18{left:451.198360pt;}
.xd{left:453.000000pt;}
.xe{left:467.000000pt;}
.xf{left:494.000000pt;}
.x10{left:631.000000pt;}
.x11{left:646.000000pt;}
.x12{left:673.000000pt;}
.x14{left:796.781250pt;}
}
